# Ignored files

*~
*.suo
*.opensdf
/bin/
/lib/
/Build/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

CMakeFiles/
cmake_install.cmake
CMakeCache.txt

tef.dir/
TeRenderer.dir/
TeGLRenderAPI.dir/
TeD3D11RenderAPI.dir/

TeEngineConfig.h