# Ignored files

*~
*.suo
*.opensdf
bin/
obj/
lib/
.vs/
x64/
x86/
Build/

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

*.so
*.a
*.lib
*.dll
*.exp
*.ilk
*.pbd

CMakeFiles/
cmake_install.cmake
CMakeCache.txt

tef.dir/
TeRenderer.dir/
TeGLRenderAPI.dir/
TeD3D11RenderAPI.dir/

TeEngineConfig.h